body {
    /* background-image: url("https://www.nps.gov/piro/learn/nature/images/DeepForest_1.JPG"); */
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}

#content {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background);
    color: white;
}

header {
    text-align: center;
    padding: 15px;
    margin: 15px auto;
}

main, aside {
    display: inline-block;
    text-align:center;
}

main {
    background: var(--layer0);
    position: absolute;
    top: 110px;
    transform: translateX(-50%);
    left: 50%;
    width: 80%;
}

aside {
    position: absolute;
    left: 0;
    top: 110px;
    width: 50px;
}

footer {
    position: fixed;
    text-align:center;
    background: var(--layer0);
    padding: 5px;
    width: 100%;
    bottom: 0;
}

.todo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 10px;
}

.todo p {
    padding: 5px;
}

.complete-label {
    position: absolute;
    right: 15px;
    cursor: pointer;
    margin-left: 2.5%;
    width: 30px;
    height: 30px;
    background: inherit;
    border: white solid 2px;
}

.complete:checked + .complete-label {
    background: pink;
}

.div-button {
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    background: var(--layer0);
}

.div-button p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 40px;
}